.app {
  text-align: center;
  padding: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  max-width: 200px;
  text-align: left;
}

.reviews-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  max-width: 200px;
  text-align: left;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}